@media all and (max-width: 950px) {

	.site_container {
		width: 680px;
		height: 300px;
	}

	#left_column,
	#right_column {
		width: 320px;
		display: inline-block;
	}

	#right_column {
		margin-left: 40px;
	}

	.container .form-container {
		width: 100%;
	}

}

@media all and (max-width: 720px) {

	#top_head {
		.logo {
			width: 90%;
		}
	}

	.site_container {
		width: 95%;
	}


	#left_column,
	#right_column {
		width: 100%;
	}

	#right_column {
		margin-left: 0;
	}

	#left_column {
		.container:last-child {
			padding-bottom: 0px;
		}
	}

}

@media all and (max-width: 350px) {
	.container .form-container form .buttons_container {
		height: 100px;
		display: block;
	}

	.container .form-container form .btn_small {
		width: 100%;
		font-size: 24px;
	}

	.container .form-container form .btn_small:last-child {
		margin-top: 20px;
	}

}
