/* Global Styles */

body {
	background-image: url(../img/bg.png);
	background-size: cover;
	background-attachment: scroll;
	background-position: top center;
	background-repeat: no-repeat;
	font-family: 'Titillium Web', sans-serif;
	height: 100%;
}